body {
    background-color: black;
    border: 20px solid white;
    height: 550px;
    justify-items: center;
    margin: 0;
    padding: 0;

}

.container {
    width: 300px;
    height: 500px;
    margin: 15px;
    padding: 10px;
    background-color: rgb(48, 46, 46);
    justify-items: center;
    justify-content: center;
}

.profile-img {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
}

.heading {
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.address {
    color: chartreuse;
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.description {
    color: white;
    text-align: center;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.button1 {
    color: white;
    width: 200px;
    height: 30px;
    display: block;
    margin: 20px;
    background-color: rgb(58, 56, 56);

}

@media screen and (max-width:800px) {

    .container {
        /* width: 300px;
        height: 500px;
        margin: 15px;
        padding: 10px; */
        background-color:bisque;
        /* justify-items: center;
        justify-content: center; */
    }
}